@use '../../vars';

.nav {
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    padding: 25px 5%;
    position: fixed;
    top: 0;
    left: 0;
    // background-color: #F5F5F599;
    background-color: rgba(255, 255, 255, 0.5);

    .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reseaux{
            display: flex;
            gap: 5px;
            justify-content: center;
            
            .link {
                text-decoration: none;
                color: vars.$blue;
                
                .reseau {
                    font-size: 20px;
                }
            }
        }

        .burgerMenu {
            font-size: 20px;
        }

        .lists {
            display: flex;
            gap: 25px;
            font-size: 17px;

            .list {

                .link {
                    text-decoration: none;
                    color: vars.$blue;
                }
            }
        }

        .listsBM {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            background-color: vars.$blue;
            position: fixed;
            top: 100px;
            left: 0px;
            padding: 15px;
            font-size: 17px;

            .listBM {

                .linkBM {
                    text-decoration: none;
                    color: vars.$blue;
                    color: white;
                }
            }
        }
    }
}