@use '../vars';

.parcours {
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    border-bottom: 1px gray solid;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr / 6fr 4fr;
    font-size: 16px;

    @media (max-width: 1000px) {
        display: block;
    }

    .parcoursLeft {
        background-color: vars.$blue;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 25px 25px;
        color: white;

        @media (max-width: 1000px) {
            justify-content: center;
        }
        
        .contentLeft {
            max-width: 855px;
            
            @media (max-width: 1810px) {
                width: min-content;
                padding-top: 100px;
            }
            @media (max-width: 1000px) {
                width: max-content;
            }
            @media (max-width: 905px) {
                width: min-content;
            }

            .experiences {
                max-width: 855px;
                // width: fit-content;
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 25px;

                @media (max-width: 550px) {
                    font-size: 16px;
                }
            }
    
            .experiencesContent {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;

                @media (max-width: 1810px) {
                    justify-content: center;
                }
                
                .experienceBloc {
                    width: 420px;
                    // background-color: white;
                    // color: brown;
                    padding: 5px;
                    border: 1px white solid;
                    border-radius: 5px;
                    line-height: 20px;

                    @media (max-width: 450px) {
                        width: 350px;
                    }
                    @media (max-width: 400px) {
                        width: 320px;
                    }
                    @media (max-width: 350px) {
                        width: 280px;
                    }
                    @media (max-width: 300px) {
                        width: 250px;
                    }
                    @media (max-width: 270px) {
                        width: 230px;
                    }
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        
                    .periode {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .organisme {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .taches1, .taches2 {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .parcoursRight {
        display: flex;
        justify-content: flex-start;
        padding: 25px;

        @media (max-width: 1000px) {
            justify-content: center;
        }

        .contentRight {
            width: 655px;
            // width: min-content;
            padding-top: 100px;

            @media (max-width: 1810px) {
                width: min-content;
            }
            @media (max-width: 1000px) {
                width: 655px;
            }
            @media (max-width: 905px) {
                width: min-content;
            }

            .formations {
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 25px;

                @media (max-width: 550px) {
                    font-size: 16px;
                }
            }
    
            .formationsContent {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                
                .formationBloc {
                    width: 320px;
                    // background-color: white;
                    // color: brown;
                    padding: 5px;
                    border: 1px gray solid;
                    border-radius: 5px;
                    line-height: 20px;

                    // @media (max-width: 550px) {
                    //     width: 250px;
                    // }
                    @media (max-width: 350px) {
                        width: 280px;
                    }

                    @media (max-width: 300px) {
                        width: 250px;
                    }

                    @media (max-width: 270px) {
                        width: 230px;
                    }
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        
                    .periode {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .organisme {
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }

            .competences {
                font-size: 25px;
                font-weight: 900;
                margin-top: 45px;
                margin-bottom: 25px;

                @media (max-width: 550px) {
                    font-size: 16px;
                }
            }
    
            .competencesContent {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
                flex-wrap: wrap;
                
                .competencesNiveau {
                    width: 320px;
                    // background-color: white;
                    // color: brown;
                    padding: 15px;
                    border: 1px gray solid;
                    border-radius: 5px;
                    line-height: 20px;
                    position: relative;

                    // @media (max-width: 550px) {
                    //     width: 250px;
                    // }
                    @media (max-width: 350px) {
                        width: 280px;
                    }

                    @media (max-width: 300px) {
                        width: 250px;
                    }

                    @media (max-width: 270px) {
                        width: 230px;
                    }

                    .niveau {
                        position: absolute;
                        right: 15px;
                        top: -15px;
                        background-color: vars.$base;
                        color: white;
                        padding: 3px 5px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                    }
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}