@use '../vars';

.parcours {
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    display: grid;
    grid-template: 1fr / 6fr 4fr;

    .parcoursLeft {
        // width: 80%;
        // height: 80%;
        max-width: 1200px;
        // background-color: vars.$gray;
        background-color: vars.$blue;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        padding: 25px;
        color: white;
        
        .contentLeft {
            width: min-content;
            padding-top: 100px;

            .experiences {
                // width: fit-content;
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 25px;
            }
    
            .experiencesContent {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                
                .experienceBloc {
                    width: 420px;
                    // background-color: white;
                    // color: brown;
                    padding: 5px;
                    border: 1px white solid;
                    border-radius: 5px;
                    line-height: 20px;
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        
                    .periode {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .organisme {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .taches1, .taches2 {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .parcoursRight {
        // width: 80%;
        // height: 80%;
        max-width: 1200px;
        // background-color: vars.$base;
        // background-color: vars.$gray;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        padding: 25px;

        .contentRight {
            // width: 855px;
            width: min-content;
            padding-top: 100px;

            .formations {
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 25px;
            }
    
            .formationsContent {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                
                .formationBloc {
                    width: 320px;
                    // background-color: white;
                    // color: brown;
                    padding: 5px;
                    border: 1px gray solid;
                    border-radius: 5px;
                    line-height: 20px;
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        
                    .periode {
                        font-size: 12px;
                        font-style: italic;
                    }
        
                    .organisme {
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }

            .competences {
                font-size: 25px;
                font-weight: 900;
                margin-top: 45px;
                margin-bottom: 25px;
            }
    
            .competencesContent {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                
                .competencesNiveau {
                    width: 320px;
                    // background-color: white;
                    // color: brown;
                    padding: 15px;
                    border: 1px gray solid;
                    border-radius: 5px;
                    line-height: 20px;
                    position: relative;

                    .niveau {
                        position: absolute;
                        right: 15px;
                        top: -15px;
                        background-color: vars.$base;
                        color: white;
                        padding: 3px 5px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                    }
        
                    .intitule {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}