@use '../vars';

.projets {
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    // background-color: vars.$gray;
    background: linear-gradient(to bottom right, vars.$gray, white);
    color: vars.$blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 70px 5% 50px;
    font-size: 16px;

    .projetsContent {
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;

        
        .projetsTitle {
            font-size: 25px;
            font-weight: 900;
            text-transform: uppercase;
            padding-bottom: 15px;
        }
        .projet {
            // background-color: white;
            background: linear-gradient(to bottom right, vars.$gray, white);
            box-shadow: 0px 0px 5px 1px gainsboro;
            padding: 35px;
            border-radius: 10px;
            display: flex;
            gap: 25px;
            transition: 0.7s;
            
            @media (max-width: 1100px) {
                flex-direction: column;
            }
            @media (max-width: 500px) {
                padding: 25px;
            }
            
            &:hover {
                transform: scale(1.01);
                transition: 0.7s;
                box-shadow: 0px 0px 10px 2px gainsboro;
            }

            &Img {
                flex: 1;
                border: vars.$blue 1px solid;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px;

                @media (max-width: 1100px) {
                    order: 0 !important;
                    min-height: 250px;
                }
                @media (max-width: 500px) {
                    order: 0 !important;
                    min-height: 150px;
                }
            }
            .RH_V2 {
                background-image: url("../../../public/img/RH_V2.png");
            }
            .RH_V1 {
                background-image: url("../../../public/img/RH_V1.png");
            }
            .Alifab {
                background-image: url("../../../public/img/Alifab.png");
            }
            .PUB {
                background-image: url("../../../public/img/PUB.png");
            }
            .JalQart {
                background-image: url("../../../public/img/JalQart.png");
            }
            &Description {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 25px;
                align-items: flex-start;
                justify-content: center;

                .intitule {
                    color: vars.$blue;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .title {
                    font-size: 23px;
                    font-weight: 900;
                    color: vars.$blue
                }
                .description {
                    font-size: 16px;
                    line-height: 25px;
                    color: gray;
                }
                .technos {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    font-size: 12px;

                    .techno {
                        font-weight: 500;
                        padding: 10px 15px;
                        border: vars.$blue 2px solid;
                        border-radius: 25px;
                        background-color: gainsboro;
                        color: vars.$blue;
                        transition: 0.7s;

                        &:hover {
                            background-color: vars.$blue;
                            color: white;
                            transform: scale(1.1);
                            transition: 0.7s;
                        }
                    }
                }
                .link {
                    text-decoration: none;
                    font-size: 14px;
                    padding: 15px 25px;
                    border-radius: 25px;
                    background-color: vars.$blue;
                    color: white;
                    box-shadow: 0px 0px 5px 0px vars.$blue;
                    transition: 0.7s;

                    &:hover {
                        transform: scale(1.01);
                        transition: 0.7s;
                        box-shadow: 0px 0px 10px 1px vars.$blue;
                    }
                }
            }
        }
    }
}