@use '../vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.projets {
    width: 100%;
    height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    color: vars.$blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding-top: 70px;
    font-size: 16px;

    @media (max-width: 900px) {
        font-size: 13px;
    }
    @media (max-width: 700px) {
        font-size: 10px;
    }

    .projetsContent {
        width: 80%;
        height: 70%;
        max-width: 1000px;
        // background-color: aquamarine;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50px repeat(5, 1fr);

        @media (max-width: 900px) {
            grid-template-rows: 50px repeat(6, 1fr);
        }
        @media (max-width: 600px) {
            width: 90%;
            height: 90%;
        }

        .titleContent {
            grid-area: 1 / 1 / 2 / 7;
            // background-color: white;
            color: vars.$blue;
            padding-left: 15px;

            .title {
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 5px;
            }

            .subTitle {
                font-weight: 500;
            }
        }

        .projet {
            padding: 15px;
            background-color: white;
            box-shadow: 0 0 10px -10px #2f4558;

            .title {
                font-size: 1em;
                font-weight: bold;
                // margin-bottom: 15px;
                margin-bottom: 0.469em;
            }

            .paragraph {
                // font-size: 15px;
                font-size: 0.938em;
                // line-height: 20px;
                line-height: 1.25em;
            }

            .button {
                width: 90px;
                height: 30px;
                border-radius: 5px;
                border: none;
                background-color: rgba(165, 42, 42, 0.8);
                color: vars.$gray;
                // margin-top: 15px;
                margin-top: 0.938em;
                transition: 1.3s;

                &:hover {
                    background-color: brown;
                    transition: 1.3s;
                }

                @media (max-width: 600px) {
                    width: 70px;
                    height: 25px;
                }
            }
        }

        .projetOne {
            // background-color: yellow;
            grid-column-start: 1;
            grid-column-end: span 3;
            grid-row-start: 2;
            grid-row-end: 5;
        }
        .projetTwo {
            // background-color: green;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: span 3;
        }
        .projetThree {
            // background-color: blue;
            grid-column: 1 / span 2;
            grid-row: 5 / span 2;

            @media (max-width: 900px) {
               grid-row: 5 / span 3; 
            }
            @media (max-width: 515px) {
               grid-column: 1 / span 3;
               grid-row: 5 / span 3; 
            }
        }
        .projetFour {
            // background-color: red;
            grid-area: 5 / 3 / 7 / 5;

            @media (max-width: 900px) {
               grid-area: 5 / 3 / 8 / 5;
            }
            @media (max-width: 515px) {
               grid-area: 5 / 4 / 8 / 7;
            }
        }
        .projetFive {
            // background-color: orange;
            grid-area: 5 / 5 / span 2 / span 2;

            @media (max-width: 900px) {
               grid-area: 5 / 5 / span 3 / span 2;
            }
            @media (max-width: 515px) {
               grid-area: 8 / 1 / span 1 / span 6;
            }
        }
    }
}