@use '../vars';

.contact {
    width: 100%;
    height: 100vh;
    background-color: vars.$gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px white solid;

    .formContent {
        width: 550px;
        height: 400px;
        background-color: white;
        padding: 35px;
        border-radius: 10px;
        margin-top: 70px;
        margin-bottom: 100px;
        box-shadow: 0px 0px 10px -10px vars.$blue;

        .title {
            font-family: sans-serif;
            font-style: normal;
            font-size: 45px;
            // font-weight: 600;
            color: vars.$blue;
            margin-bottom: 25px;
        }

        .form {
            width: 100%;
            display: flex;
            gap: 15px;
            flex-direction: column;
            align-items: center;

            .name, .email {
                width: 100%;
                height: 40px;
                border-radius: 10px;
                background-color: vars.$gray;
                border: none;
                padding-left: 15px;
            }

            .message {
                width: 100%;
                height: 150px;
                border-radius: 10px;
                background-color: vars.$gray;
                border: none;
                padding-left: 15px;
            }

            .button {
                width: 150px;
                height: 40px;
                border-radius: 10px;
                border: none;
                background-color: rgba(165, 42, 42, 0.8);
                color: vars.$gray;
                transition: 1.3s;

                &:hover {
                    background-color: brown;
                    transition: 1.3s;
                }
            }
        }
    }

    .bottomContent {
        width: 100%;
        height: 100px;
        background-color: vars.$blue;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .reseaux{
            display: flex;
            gap: 10px;
            justify-content: center;
            
            .link {
                text-decoration: none;
                color: vars.$gray;
                
                .reseau {
                    font-size: 25px;
                }
            }
        }
    }
}