@use '../vars';

.contact {
    width: 100%;
    height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px gray solid;
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
  
    // @media (max-width: 900px) {
    //     font-size: 13px;
    // }

    // @media (max-width: 800px) {
    //     font-size: 10px;
    // }

    // @media (max-width: 700px) {
    //     font-size: 7px;
    // }

    // @media (max-width: 250px) {
    //     font-size: 4px;
    // }

    @media (max-height: 640px) {
        height: 640px;
    }

    .formContent {
        width: 50%;
        max-width: 750px;
        box-sizing: border-box;
        // width: 550px;
        // height: 400px;
        // width: 34.375em;
        // height: 25em;
        background-color: white;
        padding: 35px;
        // padding: 2.788em;
        border-radius: 10px;
        margin-top: 70px;
        margin-bottom: 100px;
        // margin-top: 4.375em;
        // margin-bottom: 6.25em;
        box-shadow: 0px 0px 10px -10px vars.$blue;

        @media (max-width: 850px) {
            width: 85%;
        }

        .title {
            // font-family: sans-serif;
            // font-style: normal;
            font-size: 25px;
            font-weight: 900;
            // font-size: 2.813em;
            // font-weight: 600;
            color: vars.$blue;
            margin-bottom: 25px;
            // margin-bottom: 1.563rem;
            // margin-bottom: 12.5px;
            // margin-bottom: 0.557em;

            // @media (max-width: 700px) {
            //     font-size: 15px;
            //     margin-bottom: 20px;
            // }
            @media (max-width: 500px) {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .form {
            width: 100%;
            display: flex;
            gap: 15px;
            // gap: 0.938em;
            flex-direction: column;
            align-items: center;

            .name, .email {
                width: 100%;
                // width: 40em;
                // height: 40px;
                height: 2.5em;
                border-radius: 10px;
                background-color: vars.$gray;
                border: none;
                padding-left: 15px;
                // padding-left: 0.938em;
            }

            .message {
                width: 100%;
                // width: 40em;
                // height: 150px;
                height: 9.375em;
                border-radius: 10px;
                background-color: vars.$gray;
                border: none;
                padding-left: 15px;
                // padding-left: 0.938em;
            }

            .button {
                // width: 150px;
                // height: 40px;
                width: 9.375em;
                height: 2.5em;
                border-radius: 10px;
                border: none;
                background-color: rgba(165, 42, 42, 0.8);
                color: vars.$gray;
                transition: 1.3s;

                &:hover {
                    background-color: brown;
                    transition: 1.3s;
                }
            }
        }

        .success {
            color: green;
            margin-top: 10px;
            font-size: 10px;
        }

        .error {
            color: red;
            margin-top: 10px;
            font-size: 10px;
        }
    }

    .bottomContent {
        width: 100%;
        height: 100px;
        // height: 6.25em;
        background-color: vars.$blue;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .reseaux{
            display: flex;
            // gap: 10px;
            gap: 0.625em;
            justify-content: center;
            
            .link {
                text-decoration: none;
                color: vars.$gray;
                
                .reseau {
                    font-size: 25px;
                    // font-size: 1.563em;

                    @media (max-width: 700px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}