$gray: #F5F5F5;

$base: #0C2F40;
$blue: #2F4558;
$green: #354E52;
$red: #7C4C53;

$base10: #0C2F4010;
$blue10: #2F455810;
$green10: #354E5210;
$red10: #7C4C5310;

$blue75: #2F455875;
$blue50: #2F455850;
$blue25: #2F455825;

$base30: #0C2F4030;
$blue30: #2F455830;
$green30: #354E5230;
$red30: #7C4C5330;

$baseDark: #0B162C;
$blueDark: #11151D;
$greenDark: #242423;
$redDark: #1E0F1C;