@use '../vars';

.services {
    width: 100%;
    height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    display: grid;
    grid-template: 6fr 2fr / 1fr;

    .servicesTop {
        // width: 100%;
        // height: 100%;
        // grid-area: 1 / 1 / 2 / 1;
        background-color: vars.$gray;
    }

    .servicesBottom {
        // width: 100%;
        // height: 100%;
        // grid-column: 1 / 2;
        // grid-row: 2 / 2;
        background-color: white;
    }
}