@use '../vars';

.home {
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    display: grid;
    grid-template: 6fr 4fr / 1fr;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 16px;

    @media (max-width: 1400px) {
        font-size: 12px;
    }

    @media (max-width: 550px) {
        font-size: 8px;
    }

    @media (max-width: 350px) {
        font-size: 6px;
    }

    .homeTop {
        background-color: vars.$gray;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // padding-bottom: 55px;
        padding-bottom: 3.438em;

        @media (max-width: 1000px) {
            font-size: 10px;
        }
        @media (max-width: 550px) {
            font-size: 7px;
        }
        @media (max-width: 350px) {
            font-size: 5px;
        }

        .topContent {
            // width: 80%;
            // height: 80%;
            // max-width: 1200px;
            display: flex;
            // gap: 25px;
            gap: 1.563em;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .laptop {
                // font-size: 70px;
                font-size: 4.375em;
            }

            .title {
                // font-size: 50px;
                font-size: 3.125em;
                font-weight: 900;
                color: #0c2f4020;
                text-transform: uppercase;
            }

            .langages {
                display: flex;
                // gap: 15px;
                gap: 0.938em;

                .language {
                    // font-size: 30px;
                    font-size: 1.875em;
            }
            }
        }
    }

    .homeBottom {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .bottomContent {
            // width: 80%;
            // height: 80%;
            // max-width: 1300px;
            display: flex;
            flex-wrap: wrap;
            // gap: 15px;
            gap: 0.938em;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;

            @media (max-width: 550px) {
                padding: 15px;
            }

            @media (max-width: 350px) {
                padding: 10px;
            }

            @media (max-width: 250px) {
                padding: 5px;
            }

            .titleContent {
                // width: 600px;
                width: 37.5em;
                
                .title {
                    // font-size: 45px;
                    font-size: 2.831em;
                    font-weight: 900;
                }

                .subtitle {
                    // font-size: 30px;
                    font-size: 1.875em;
                    font-weight: 900;
                    color: brown;
                    
                    .dates {
                        // font-size: 16px;
                        font-size: 0.6em;
                        font-weight: 700;
                        letter-spacing: 0.0001em;
                        color: gray;
                    }
                }

                .info {
                    // font-size: 16px;
                    font-size: 1.1em;
                    font-weight: 700;
                    letter-spacing: 0.01em;
                    color: gray;
                }
            }

            .presentation {
                width: 600px;
                // width: 37.5em;
                // font-size: 20px;
                font-size: 1.25em;
                text-align: justify;
                // color: gray;

                @media (max-width: 1400px) {
                    width: 450px;
                }
                @media (max-width: 550px) {
                    width: 300px;
                }
                @media (max-width: 350px) {
                    width: 225px;
                }
            }
        }

    }
}