@use '../vars';

.home {
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    background-color: vars.$gray;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    display: grid;
    grid-template: 6fr 4fr / 1fr;

    .homeTop {
        background-color: vars.$gray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        .topContent {
            width: 80%;
            height: 80%;
            max-width: 1200px;
            display: flex;
            gap: 25px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .laptop {
                font-size: 70px;
            }

            .title {
                font-size: 50px;
                font-weight: 900;
                color: #0c2f4020;
                text-transform: uppercase;
            }

            .langages {
                display: flex;
                gap: 15px;

                .language {
                    font-size: 30px;
            }
            }
        }
    }

    .homeBottom {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        .bottomContent {
            width: 80%;
            height: 80%;
            max-width: 1300px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            // align-items: flex-start;
            align-items: center;

            .titleContent {
                width: 600px;
                
                .title {
                    font-size: 45px;
                    font-weight: 900;
                }

                .subtitle {
                    font-size: 30px;
                    font-weight: 900;
                    color: brown;
                    
                    .dates {
                        font-size: 16px;
                        padding-bottom: 30px;
                        font-weight: 900;
                        color: gray;
                    }
                }
            }

            .presentation {
                width: 600px;
                font-size: 20px;
                // color: gray;
            }
        }

    }
}